.note {
  background-color: hsl(61, 100%, 81%);
  padding-left: 0.5rem;
  border-top: 1px outset white;
  border-bottom: 1px outset white;
  color: black;
  line-height: 125%;
}

.completed {
  background-color: hsl(61, 25%, 81%);
}

.more {
  padding-right: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
