.wrapper {
  margin: 0 1.5rem;
}

.title {
  font-size: 1.2rem;
}

.content {
  margin-top: 1rem;
  font-size: 1.2rem;
  overflow-wrap: break-word;
  white-space: pre-line;
  overflow: auto;
  padding-bottom: 1rem;
  max-height: 10.5rem;
}
