.container {
  padding: 0 2rem;
}

.main {
  /* min-height: 100vh; */
  padding: 4rem 0;
}

.block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 4px solid black;
}

.postsBackground {
  border: 1px solid blue;
}

.mainSection {
  display: flex;
  padding-top: 8rem;
  padding-bottom: 3rem;
  gap: 3rem;
}

.mainSectionTextWrapper {
  display: flex;
  align-items: center;
  width: 50%;
}

.signinbutton {
  background-color: aquamarine;
  padding: 1rem;
  width: 30%;
  text-align: center;
  border-radius: 10%;
  margin-top: 1rem;
  cursor: pointer;
}

.heading {
  font-size: 2.5rem;
}
.subSection {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
.subSection2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.subSectionTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.heading2 {
  font-size: 1.8rem;
}

.midTitle {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subSectionLast {
  margin-bottom: 10rem;
}
