.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 5vh;
  position: relative;
}

.overlayOpen {
  z-index: 1000;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.overlayClose {
  z-index: 1000;
  opacity: 0;
}

.menuOpen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  padding: 10% 5%;
  top: 0;
  right: 0;
  z-index: 1100;
  width: 30%;
  height: 100vh;
  background-color: black;
  color: white;
}

.menuClose {
  display: none;
}

.logoutMenu {
  text-align: right;
}
.pointer {
  cursor: pointer;
}

.menuUl {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  float: right;
}

.menuUl li {
  text-align: right;
}

.hamburger {
  display: block;
  border: 0;
  cursor: pointer;
}

.navUlWrapper {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    padding-left: 5rem;
    padding-right: 3rem;
  }
  .hamburger {
    display: none;
  }
  .navUlWrapper {
    display: block;
    width: 55%;
  }
  .navUlWrapper ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
